name: Haskell CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cabal:
          - "3.2"
        ghc:
          - "8.6.5"
          - "8.8.4"
          - "8.10.2"
    env:
      CONFIG: "--enable-tests"
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-haskell@v1.1.4
        with:
          ghc-version: ${{ matrix.ghc }}
          cabal-version: ${{ matrix.cabal }}
      - run: cabal v2-update
      - run: cabal v2-freeze $CONFIG
      - uses: actions/cache@v2
        with:
          path: |
            ~/.cabal/store
            dist-newstyle
          key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.ghc }}-
      - run: cabal v2-install tasty-discover
      - run: cabal v2-build $CONFIG
      - run: cabal v2-test $CONFIG --test-show-details=always
      - run: cabal v2-haddock $CONFIG
      - run: cabal v2-sdist
